version: '3.9'
services:
  api_socket:
    build: { context: ./backend/socket, target: dev }
    container_name: ing_master_webp_api_socket_dev
    env_file: ./backend/socket/.env
    volumes:
      - ./backend/socket/app:/code
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - '8000:80'
    restart: unless-stopped

  front_web:
    build: { context: ./frontend/web, target: dev }
    container_name: ing_master_webp_front_web_dev
    volumes:
      - ./frontend/web/app:/app
      - front_web_node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    env_file: ./frontend/web/.env
    command: npm run dev -- --host 0.0.0.0
    ports:
      - '3000:3000'
    restart: unless-stopped

volumes:
  front_web_node_modules:
